/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  dispaly: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

#wall .parent:first-child {
  display: none;
}

#wall .parent:nt-child(2) {
  display: none;
}
